<!--<div class="crabs">
  <md-toolbar color="accent">
    <md-icon class="icon-20">pets</md-icon>
    Crabs
  </md-toolbar>
  <md-sidenav-layout>
    <md-sidenav align="end" mode="side" opened>
      <md-tab-group>
        <md-tab>
          <template md-tab-label>Details</template>
          <template md-tab-content></template>
        </md-tab>
        <md-tab>
          <template md-tab-label>Reply</template>
          <template md-tab-content></template>
        </md-tab>
      </md-tab-group>
    </md-sidenav>
  </md-sidenav-layout>
</div>-->

<router-outlet></router-outlet>
